html,body{
    height: 100%;
    
}

/* Navigation bar  */
.navbar-nav >li> a, .navbar-brand{
    color: white !important;
}

.navbar-brand{
    text-shadow: 10px 10px 5px brown;
}

.navbar-brand{
    font-size: xx-large;
    
}

.navbar-collapse{
    /* display: flex !important; */
    justify-content: end !important;
    font-size: larger;
}

/* Background-img */

.nav-background-img{
    background-color: gray;
    background-image: url("../img/background-1.jpg");
    /* background-size: cover; */
    background-repeat: no-repeat;
    height: 600px;
    background-position: center;
    background-attachment: fixed;
    background-blend-mode: multiply;
    background-size: cover;

}

.background-img{
    text-align: center;
    padding: 200px 0;

}

.background-img h1{
    color: white;
}

/* Offers popup */
.bg-offers-popup{
    position: fixed;
    background-color: rgba(0,0,0, 0.7);
    height: 100%;
    width: 100%;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    padding: 100px;
    z-index: 1;
}

.offers-popup{
    width: 100%;
    height:100%;
    background-color: white;
    position: relative;

}

.close{
    top: -26px;
    position: absolute;
    right: -7px;
    font-size: 30px;
    cursor: pointer;
    /* background-color: grey; */
    border-radius: 50%;
    color: grey;
}

/* ---------about us pop up----------- */
.bg-aboutus-popup{
    position: fixed;
    background-color: rgba(0,0,0, 0.7);
    height: 100%;
    width: 100%;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    padding: 100px;
    z-index: 1;
}

.aboutus-popup{
    width: 300px;
    height:300px;
    background-color: white;
    position: relative;

}

.close{
    top: -26px;
    position: absolute;
    right: -7px;
    font-size: 30px;
    cursor: pointer;
    /* background-color: grey; */
    border-radius: 50%;
    color: grey;
}

/* ---------Postcards------------ */

.postcard{
    /* display: flex; */
    /* flex-wrap: wrap; */
    height: 400px !important;
    background-color: #18151f;
    color: white;
    border-radius: 20px;
    margin: 20px;
    overflow: hidden;
    /* width: 50%; */
    /* margin: 0 auto; */
}

@media screen and (min-width:800px) {
    .postcard{
        display: flex;
        height: 350px;
        background-color: #18151f;
        color: white;
        border-radius: 20px;
        margin: 20px;
        overflow: hidden;
        width: 50%;
    }
    .two-carousel-items{
        display: flex;
    }
    
}

.postcard__img{
    width: auto !important;
    height: 300px !important;
    display: block !important;
    margin: auto !important;
}

.postcard__text{
    margin: 20px;
}

/* .two-carousel-items{
    display: flex;
} */

.postcard-carousel{
    padding: 40px;
}

.postcard-carousel h1{
    /* z-index: 0; */
    text-align: center;
    margin-bottom: 20px;
    margin-top: 0;
}

/* .postcard-carousel>div{
    width:200px;
    height: 100px !important;
} */

.what-we-offer>div:hover{
    opacity: 0.8;
    
}

.what-we-offer .card{
    border-radius: 20px;
}

@media screen and (min-width: 600px){
    .what-we-offer{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        width: 70%;
        margin: 0 auto;
        column-gap:20px;
    }
}



/* .card-img-overlay{
    
    opacity: 0;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    position: absolute;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width:auto;
    
} */

.what-we-offer.card{
    height: 400px;
    background-color: white !important;
}

.card-img-overlay>button{
    opacity: 0;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    position: absolute;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width:auto;
    padding: 10px;
    border-radius: 20px;
}
.card-img-overlay>button>a{
    text-decoration: none;
    color: black;
}
.card-img-overlay:hover{
    opacity: 1;
}

.card-img-overlay>button:hover{
    opacity: 1;
}

/* ----------Our top selects----------- */
.our-top-selects{
    background-color: gray;
    border-color: black;
    border-radius: 10px;
    
}

.top-selects{
    padding: 5px; 
    margin: 40px;

}

.our-top-selects h1{
    text-align: center;
}
.our-top-selects .selects img{
    width:auto;
    height: 300px;
}


.postcard-carousel>div>img:hover{
  opacity: 0.7;
}

.carousel-control-prev{
    margin-left: -6% !important;
}

.carousel-control-next{
    margin-right: -6% !important;
}

.postcard__img_link:hover{
    transform:scale(1.1) !important;
}


.carousel-cards{
    display: flex;
    /* row-gap: 10px; */
    column-gap:30px;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin: 30px;
    /* overflow-y: hidden; */
  /*   white-space: nowrap; */
  /*   width: 700px; */
  /*   overflow: hidden; */
    position: relative;
  }
  
  .carousel-card{
    /* display: flex; */
    /* width: 50%; */
    height: 400px;
    background-color: white;
    /* flex: 0 0 auto; */
    /* overflow: hidden; */
    /* position: absolute; */
    border-radius: 10px;
    overflow: hidden;
    
  }

  .carousel-card-wrapper{
    height: 400px;
    background-color: white;
    flex: 0 0 auto;
    /* overflow: hidden; */
    /* position: absolute; */
    border-radius: 10px;
    overflow: hidden;
    padding-left: 40px;
  }
  
  body::-webkit-scrollbar, .carousel-cards::-webkit-scrollbar, .carousel-images::-webkit-scrollbar{
    display: none;
  }

   .carousel-card img{
      max-width:100%;
      max-height: 100%;
      position: relative;
      
   }

   .carousel-card-wrapper>.img-title{
       position: relative;
       top: 0;
       left: -30px;
       margin-top: -150px;
       font-size: 40px;
       
       
   }


   .carousel-card-wrapper>.img-title>button{
       border-radius: 10px;
       font-size: 15px;
       margin-top: -40px;
       margin-left: 15px;
       font-family:'Times New Roman', Times, serif;
       
       
   }

   /* -------View more arrow---------- */
   .view-more{
       position: absolute;
       right: 40px;
       color: black;
       margin-top: -35%;
       
   }

   .view-more>.fa{
       
       font-size: 40px;
       background-color: rgb(197, 191, 191);
       border-radius: 50%;
       padding: 10px;
   }

/* ---------Carousel-fade-out------------ */
.popup-carousel{
    width:100%;
    height:100%;
    /* background-color: red; */
    /* display: 'none'; */
    position: fixed;
    /* z-index: 1; */
    top: 0;
    left: 0;
    
    /* padding: 100px; */
}

/* .modal{
    width:100% !important;
    height:100% !important;
    margin-left: 0 !important;
    left: 0 !important
} */

.modal-header h5{
    /* margin: 0 auto !important; */
    font-size: 30px;
}

.carousel-images{
    width: 100%;
    height: 100%;
    /* background-color: rosybrown; */
    position: relative;
    padding: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
}

/* .parallax-1{
    position: relativel;
    background-image: url('/portrait/portrait-1.jpg');
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    background-size: 100% auto;
    
}
.parallax-2{
    background-image: url('/portrait/portrait-4.jpg');
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    background-size: 100% auto;
}
.parallax-3{
    background-image: url('/portrait/portrait-5.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    background-size: 100% auto;
} */
.carousel-images>h1{
    text-align: center;
    /* font-size: 70px; */
    /* position: relative; */
    /* background-attachment: fixed; */
}

.carousel-images>.portrait-collection{
    position: relative;
}

.carousel-popup-close button{
    padding: 5px;
    background-color: white;
    border-radius: 30%;
}

.carousel-popup-close button:hover{
    background-color: grey;
    opacity: .9;
}

/* ----------Portrait-Collection */

.portrait-collection{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;

}

.portrait-collection img{
    width: auto;
    height: 380px;
    /* padding: 20px; */
    transition: transform 0.200s;

}

.portrait-collection img:hover{
    /* width: auto;
    height: 600px; */
    transform: scale(1.5); 
    position: relative;
    z-index: 2;
}


/*----------- Get in touch -----------*/
.get-in-touch{
    padding: 50px;
}

/* ----------Contact Us-------- */
.d-flex *{
    padding: 10px;
}