html,body{
    height: 100%;
}

/* Navigation bar  */
.navbar a{
    color: white !important;
}
/* Background-img */

.nav-background-img{
    background-color: gray;
    background-image: url("/img/background-1.jpg");
    /* background-size: cover; */
    background-repeat: no-repeat;
    height: 600px;
    background-position: center;
    background-attachment: fixed;
    background-blend-mode: multiply;

}

.background-img{
    text-align: center;
    padding: 200px 0;

}

.background-img h1{
    color: white;
}

/* Offers popup */
.bg-offers-popup{
    position: fixed;
    background-color: rgba(0,0,0, 0.7);
    height: 100%;
    width: 100%;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    padding: 100px;
    z-index: 1;
}

.offers-popup{
    width: 100%;
    height:100%;
    background-color: white;
    position: relative;

}

.close{
    top: -26px;
    position: absolute;
    right: -7px;
    font-size: 30px;
    cursor: pointer;
    /* background-color: grey; */
    border-radius: 50%;
    color: grey;
}

/* ---------about us pop up----------- */
.bg-aboutus-popup{
    position: fixed;
    background-color: rgba(0,0,0, 0.7);
    height: 100%;
    width: 100%;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    padding: 100px;
    z-index: 1;
}

.aboutus-popup{
    width: 300px;
    height:300px;
    background-color: white;
    position: relative;

}

.close{
    top: -26px;
    position: absolute;
    right: -7px;
    font-size: 30px;
    cursor: pointer;
    /* background-color: grey; */
    border-radius: 50%;
    color: grey;
}

.postcard{
    /* display: flex; */
    /* height: 350px; */
    background-color: #18151f;
    color: white;
    border-radius: 20px;
    margin: 20px;
    overflow: hidden;
    /* width: 50%; */
    /* margin: 0 auto; */
}

@media screen and (min-width:800px) {
    .postcard{
        display: flex;
        height: 350px;
        background-color: #18151f;
        color: white;
        border-radius: 20px;
        margin: 20px;
        overflow: hidden;
        width: 50%;
    }
    .two-carousel-items{
        display: flex;
    }
}

.postcard__img{
    width: 300px;
    
}

.postcard__text{
    margin: 20px;
}

/* .two-carousel-items{
    display: flex;
} */

.postcard-carousel{
    z-index: 0;
}

/* ---------Carousel-fade-out------------ */
.popup-carousel{
    width:100%;
    height:100%;
    /* background-color: red; */
    display: none;
    position: fixed;
    /* z-index: 1; */
    top: 0;
    /* padding: 100px; */
}

.carousel-1{
    width: 100%;
    height: 100%;
    background-color: rosybrown;
    position: relative;
    padding: 10px;
}

.carousel-popup-close button{
    padding: 5px;
    background-color: white;
    border-radius: 30%;
}

.carousel-popup-close button:hover{
    background-color: grey;
    opacity: .9;
}

/* ----------Portrait-Collection */

.portrait-collection{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.portrait-collection img{
    width: auto;
    height: 380px;
    /* padding: 20px; */
    transition: transform 0.200s;

}

.portrait-collection img:hover{
    /* width: auto;
    height: 600px; */
    transform: scale(1.5); 
}


/*----------- Get in touch -----------*/
.get-in-touch{
    padding: 50px;
}

/* ----------Contact Us-------- */
.d-flex *{
    padding: 10px;
}